@use "variables" as *;

.v-phone-input__country__icon {
  margin-inline: $v-phone-input-country-icon-margin;

  &.f32 {
    height: var(--v-phone-input-country-icon-height, $v-phone-input-country-icon-default-size);

    .flag {
      transform: scale(.75);
      transform-origin: 0 top;
    }
  }

  &.fi {
    min-width: $v-phone-input-country-icon-default-size;
    max-width: $v-phone-input-country-icon-default-size;
    width: $v-phone-input-country-icon-default-size;
    line-height: var(--v-phone-input-country-icon-height, $v-phone-input-country-icon-default-size);
  }
}
