@use "variables" as *;
@use "country-icon";
@use "country-menu";

.v-phone-input .v-phone-input__country__input.v-input {
  flex-grow: 0;
  flex-shrink: 0;

  &.v-input--density-compact {
    --v-phone-input-country-icon-height: $v-phone-input-country-icon-compact-height;

    .v-field--variant-plain, .v-field--variant-underlined {
      .v-field__append-inner .v-icon {
        font-size: $v-phone-input-country-icon-compact-height;
      }
    }
  }

  .v-field {
    min-width: var(--v-phone-input-country-width, $v-phone-input-country-input-compact-width);
    max-width: var(--v-phone-input-country-width, $v-phone-input-country-input-compact-width);

    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;

    &.v-field--variant-plain, &.v-field--variant-underlined {
      --v-phone-input-country-icon-height: $v-phone-input-country-icon-compact-height;
    }

    &.v-field--variant-outlined {
      --v-input-chips-margin-top: 3px;
      --v-input-chips-margin-bottom: 3px;
    }

    &.v-field--variant-outlined .v-field__outline .v-field__outline__end {
      border-radius: 0;
    }

    &.v-field--variant-outlined:not(.v-phone-input__country__input--focused) .v-field__outline .v-field__outline__end {
      border-inline-end-width: 0;
    }

    .v-field__input {
      min-height: var(--v-input-control-height, 56px);

      input {
        height: 1px;
      }
    }

    .v-field__input input {
      height: 1px;
    }
  }

  &.v-input--density-compact {
    .v-field--variant-plain, .v-field--variant-underlined {
      .v-field__append-inner .v-icon {
        font-size: 20px;
      }
    }
  }

  &.v-autocomplete {
    .v-field__input {
      flex-wrap: nowrap;

      input {
        min-width: 0;
        height: auto;
      }
    }

    &.v-phone-input__country__input--focused {
      min-width: var(--v-phone-input-country-autocomplete-width, $v-phone-input-country-input-autocomplete-width);
      max-width: var(--v-phone-input-country-autocomplete-width, $v-phone-input-country-input-autocomplete-width);

      .v-field {
        --v-phone-input-country-width: 100%;
      }

      .v-field__input input {
        min-width: 65px;
      }
    }
  }
}
