.v-phone-input__phone__input.v-input {
  flex-grow: 1;
  flex-shrink: 1;

  .v-field {
    border-start-start-radius: 0 !important;
    border-end-start-radius: 0 !important;

    &.v-field--variant-outlined .v-field__outline > .v-field__outline__start {
      border-radius: 0;
    }
  }
}
