$v-phone-input-country-list-item-margin: 24px;
$v-phone-input-country-icon-margin: 4px;
$v-phone-input-country-icon-default-height: 24px;
$v-phone-input-country-icon-compact-height: 20px;
$v-phone-input-country-input-default-width: 6rem;
$v-phone-input-country-input-compact-width: 5rem;
$v-phone-input-country-input-autocomplete-width: 70%;
$v-phone-input-country-input-prepend-inner-icon-width: 1.5rem;
