@use "variables" as *;
@use "country-input";
@use "phone-input";

.v-phone-input {
  --v-phone-input-country-icon-height: #{$v-phone-input-country-icon-default-height};
  --v-phone-input-country-width: #{$v-phone-input-country-input-compact-width};
  --v-phone-input-country-autocomplete-width: #{$v-phone-input-country-input-autocomplete-width};

  display: flex;
  align-items: flex-start;

  .v-phone-input__country__input.v-input:not(.v-autocomplete.v-phone-input__country__input--focused) .v-field {
    &.v-field--variant-outlined, &.v-field--variant-filled, &.v-field--variant-solo {
      --v-phone-input-country-width: #{$v-phone-input-country-input-default-width};
    }
  }

  &.v-phone-input--prepend-inner-icon .v-phone-input__country__input.v-input:not(.v-autocomplete.v-phone-input__country__input--focused) .v-field {
    --v-phone-input-country-width: #{$v-phone-input-country-input-compact-width + $v-phone-input-country-input-prepend-inner-icon-width};

    &.v-field--variant-outlined, &.v-field--variant-filled, &.v-field--variant-solo {
      --v-phone-input-country-width: #{$v-phone-input-country-input-default-width + $v-phone-input-country-input-prepend-inner-icon-width};
    }
  }
}
