.v-phone-input {
  display: flex;
  align-items: flex-start;

  &__country.v-input {
    min-width: 0;
    max-width: 4rem;

    .v-phone-country-icon {
      margin: 0 4px;
    }

    &.v-text-field--outlined, &.v-text-field--solo, &.v-text-field--filled {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.v-text-field--enclosed {
      max-width: 6rem;
    }

    &.v-text-field--rounded {
      max-width: 7rem;

      > .v-input__control > .v-input__slot {
        padding-right: 16px;
      }
    }

    &.v-text-field--outlined fieldset {
      border-right-width: 0;
    }

    &.v-autocomplete {
      transition: min-width .25s, max-width .25s;

      .v-select__selections {
        flex-wrap: nowrap;

        input {
          min-width: 0;
          transition: min-width .25s;
        }
      }

      &.v-input--is-focused {
        min-width: 70%;
        max-width: 70%;

        input {
          min-width: 65px;
        }
      }
    }
  }

  &__phone.v-input {
    flex-grow: 1;

    &.v-text-field--outlined, &.v-text-field--solo, &.v-text-field--filled {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.v-text-field--rounded {
      > .v-input__control > .v-input__slot {
        padding-left: 16px;
      }
    }
  }
}
