@use "variables" as *;
@use "country-input";
@use "phone-input";

.v-phone-input {
  --v-phone-input-country-icon-height: #{$v-phone-input-country-icon-default-height};
  --v-phone-input-country-max-width: #{$v-phone-input-country-input-compact-max-width};

  display: flex;
  align-items: flex-start;
}
