name: publish

on:
  release:
    types: [ published ]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/install
      - name: Build
        run: pnpm build
      - name: Publish prerelease
        if: ${{ github.event.release.prerelease }}
        run: pnpm publish --no-git-checks --tag next
      - name: Publish release
        if: ${{ !github.event.release.prerelease }}
        run: pnpm publish --no-git-checks

  deploy:
    needs: [ publish ]
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
