name: tests

on:
  push:
  pull_request:
    branches: [ main, next, develop ]
  schedule:
    - cron: '0 0 1 * *'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install
      - name: Lint
        run: pnpm lint
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install
      - name: Build
        run: pnpm build
  unit-tests:
    name: unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install
      - name: Run unit tests
        run: pnpm test
      - name: Store coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-unit
          path: coverage/unit
  e2e-tests:
    name: e2e-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install
      - name: Install Cypress binary
        run: pnpm cypress install
      - name: Run E2E tests
        uses: cypress-io/github-action@v6
        with:
          component: true
      - name: Store coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-e2e
          path: coverage/e2e
  upload-coverage:
    name: upload-coverage
    needs: [ unit-tests, e2e-tests ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download unit coverage
        uses: actions/download-artifact@v6
        with:
          name: coverage-unit
          path: coverage/coverage-unit
      - name: Download e2e coverage
        uses: actions/download-artifact@v6
        with:
          name: coverage-e2e
          path: coverage/coverage-e2e
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          directory: coverage
          token: ${{ secrets.CODECOV_TOKEN }}
